{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block body %}
<div class="movie-box">
    <div class="moviedetail-box">
        <div class="box1">
            <div class="poster-box">
                <img src="{{ movie.poster_path }}" style="height: 100%; width: 100%;">
            </div>
            <div class="info-box">
                <div class="title">
                    {{movie.title}}
                </div>
                <div class="users">
                    <div class="rating">
                        {% if movie.score_avg %}
                            <span class="subject">회원점수 {{movie.score_avg}}</span>
                        {% else %}
                            <span class="subject">회원점수 ---</span>
                        {% endif %}
                    </div>
                </div>
                <div class="info">
                    <div class="release">
                        <span class="subject">개봉일</span>
                        <span class="content">{{movie.release_date}}</span>
                    </div>
                    <div class="runtime">
                        <span class="subject">상영시간</span>
                        <span class="content">{{movie.runtime}}</span>
                    </div>
                    <div class="genre">
                        <span class="subject">장르</span>
                        <span class="content">
                        {% for genre in movie.genre.all %}
                            {% if forloop.first %}
                                {{ genre.type }}
                            {% else %}
                                <span>/ </span>{{ genre.type }}
                            {% endif %}
                        {% endfor %}
                        </span>
                    </div>
                </div>
                <div class="overview">
                    <span class="subject">개요</span>
                    <span class="content">
                        {{movie.overview}}
                    </span>
                </div>
            </div>   
        </div>
    </div>
    
    {% if user.is_authenticated %}
    <h1>평점 작성</h1>
    <form action="{% url 'movies:new_rating' movie.pk %}" method="POST">
        {% csrf_token %}
        {{ rating_form|crispy }}
        {# 영화 감상평 : <input type="text" name="comment"> #}
        {# 영화 평점 : <input type="number" name="score" min="0" max="5" step="1"> #}
        <button type="submit" class="btn btn-info">작성하기</button>
    </form>
    {% endif %}
    <br>
    {% for rating in ratings %}
    <div class="rating">
        <b style="display: inline-block">{{ rating.user }}<b>
        <span> {{ rating.comment }}</span>
        
        {% if rating.score == 5 %} {# 5 빨강 #}
            <button type="button" class="btn btn-danger">{{ rating.score }}</button>
            
        {% elif rating.score == 4 %} {# 4 노랑 #}
            <button type="button" class="btn btn-warning">{{ rating.score }}</button>
            
        {% elif rating.score == 3 %} {# 3 초록 #}
            <button type="button" class="btn btn-success">{{ rating.score }}</button>
            
        {% else %} {# 0, 1, 2 검정 #}
            <button type="button" class="btn btn-dark">{{ rating.score }}</button>
            
        {% endif %}
            
        <form action="{% url 'movies:delete_rating' movie.pk rating.pk %}" method="POST" style="margin-bottom: 10px; display: inline-block">
            {% csrf_token %}
            <button type="submit" class="btn btn-light">삭제</button>
        </form>
    </div>
    {% endfor %}
    
    
</div>
{% endblock %}