{% extends 'base.html' %}
{% block body %}    
    <div class="moviemain-box">
        
        <form action="{% url 'movies:search' %}" method="POST" style="margin-bottom: 10px;">
            {% csrf_token %}
            검색할 영화명 : <input type="text" name="search">
            <input type="submit" value="검색하기">
        </form>
        
        <h3>영화 목록</h3>
        <div class="movies-box">
            {% for movie in movies %}
            <a href="{% url 'movies:detail' movie.pk %}">
            <div class="eachmovie-box" style="background-image: url('{{ movie.backdrop_path }}')">
                {{ movie.title }}                
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}