{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="form-container">
    <div class="form-inner">
        <form method="POST" class="form-box">
            <div class="form-box-container">
                {% if request.resolver_match.url_name == 'signup' %}
                <a href="{% url 'accounts:login' %}">
                    <div class="button">
                        이미 있는 아이디로 로그인
                    </div>
                </a>
                <div class="form-or">
                    <div class="form-line"></div>
                    <div class="form-or-text">또는</div>
                    <div class="form-line"></div>
                </div>
                {% else %}
                <div style="height:15px;"></div>
                {% endif %}
                {% csrf_token %}
                <span style="color:#fff; font-size: 14px;">
                {{ form }}
                </span>

                <div class="form-submit">
                    {% if request.resolver_match.url_name == 'signup' %}
                    <input type="submit" value="가입" class="button">
                    {% else %}
                    <input type="submit" value="로그인" class="button">
                    {% endif %}
                </div>
            </div>
        </form>
        {% if request.resolver_match.url_name == 'login' %}
        <div class="form-box">
            <div class="form-explain form-explain-bottom">
                계정이 없으신가요? <a href="{% url 'accounts:signup' %}" class="form-signuptext">가입하기</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}