{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="profile-box">
    <header class="pf-header-box">
        <div class="pf-header-img-box">
            {% if user.profile.image %}
            <img src="{{ user.profile.image.url }}" class="pf-header-img">
            {% else %}
            <img src="{% static 'watcha/image/undefined_profile.jpg' %}" class="pf-header-img">
            {% endif %}
        </div>
        <section class="pf-header-info-box">
            <div class="pf-header-info-nkname-box">
                <h1 class="pf-header-info-nkname">
                {% if user.profile.nickname %}
                    {{ user_info.profile.nickname }}
                {% else %}
                    {{ user_info.username }}
                {% endif %}
                </h1>
                <a href="{% url 'accounts:profile_update' %}" class="pf-header-info-edit">
                    프로필 편집
                </a>
                <div class="pf-header-info-setting">
                    <!--<a href="{% url 'accounts:logout' %}"><span class="nav-icon setting"></span></a>-->
                    <span class="nav-icon setting" data-toggle="modal" data-target="#userSettings"></span>
                </div>
            </div>
            <ul class="pf-header-info-nav-box">
                <li class="pf-header-info-li-box">
                    평가한 영화
                    <span class="fw-600">{{ user_info.post_set.count }}</span>
                </li>
                <li class="pf-header-info-li-box">
                    팔로워
                    <span class="fw-600">{{ user_info.to_user.all.count }}</span>
                </li>
                <li class="pf-header-info-li-box">
                    팔로우
                    <span class="fw-600">{{ user_info.from_user.all.count }}</span>
                </li>
            </ul>
            <div class="pf-header-info-discription-box">
                <h1 class="pf-header-info-discription">
                    {{ user_info.username }}
                </h1>
                <span>
                    {{ user_info.profile.introduction }}
                </span>
            </div>
        </section>
    </header>
    <div class="pf-nav">
        <a href="#" class="pf-nav-items">
            <span class="pf-nav-items-box">
                <div class="pf-nav-icon posts"></div>
                <span class="pf-nav-post-char">평가한 영화</span>
            </span>
        </a>
    </div>
    <div class="notyet">
        <br>
        공사중 입니다
    </div>
    
    <div class="modal fade" id="userSettings" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <a href="{% url 'accounts:list' %}">
              <div class="modal-body">
              사용자 목록
              </div>
            </a>
            <button type="button" style="border: 0px; background-color: transparent;" data-dismiss="modal">취소</button>
          </div>
        </div>
      </div>
    </div>
    
    
</div>
{% endblock %}
