.body-box {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    position: relative;
    min-height: 100vh;
}
.main-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}
.button, .button:hover, .button:active, .button:visited {
    display: block;
    width: 77%;
    outline: 0;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    color: #fff;
    margin: 8px 40px;
    padding: 5px 9px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}
a, a:hover, a:visited, a:active {
    color: #262626;
    text-decoration: none;
    cursor: pointer;
}

.notyet {
    text-align: center;
}

.test-box {
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 20px;
}