.moviemain-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
}
.movies-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:center;
    margin: 0 auto;
}
.eachmovie-box {
    display: flex;
    flex-shrink: 0;
    border: 0px solid #c9c9c9;
    border-radius: 1px;
    height: 190px;
    width: 300px;
    margin: 0 5px 40px 0;
    /*padding: 10px 20px;*/
    background-position: center;
    background-size: auto 190px;
}
.overlay {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.8));
}
.jemok {
    display: flex;
    align-items: flex-end;
    margin-left: 16px;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
/*.eachmovie-box:first-child {*/
/*    margin-left: 0;*/
/*}*/