<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Watcha</title>
    <link rel="stylesheet" href="{% static 'watcha/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'watcha/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'watcha/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'watcha/swiper/css/swiper.min.css' %}"></script>
    <script src="{% static 'watcha/swiper/js/swiper.min.js' %}"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'watcha/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'watcha/css/forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'watcha/css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'watcha/css/movielist.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'watcha/css/moviedetail.css' %}">

</head>
<body>
    <div class="body-box">
        <div class="nav-box">
            <div class="nav-fixed-box">
            <nav class="nav-color-box">
                <div class="nav-flex-box">
                    <div class="logo-box">
                        <a href="{% url 'movies:list' %}">
                            <img src="{% static 'watcha/image/apple_logo_white.png' %}" style="height: 30px; width: 30px;">
                        </a>
                    </div>
                    {% if user.is_authenticated %}

                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span style="color: rgba(255,255,255,0.7);">{{ user.username }}</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right custom-dropdown-menu">
                            <a href="{% url 'accounts:profile' %}"><button class="dropdown-item custom-dropdown-item" type="button">내 정보 보기</button></a>
                            <a href="{% url 'accounts:logout' %}"><button class="dropdown-item custom-dropdown-item" type="button">로그아웃</button></a>
                        </div>
                    </div>
                    {% else %}
                        {% if request.resolver_match.url_name != 'signup' and request.resolver_match.url_name != 'login' %}
                        <a href="{% url 'accounts:login' %}"><div class="start-button">시작하기</div></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            </nav>
        </div>
        <div class="main-box">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    
    {% block script %}
    {% endblock %}

</body>
</html>